<div class="account-holdername">
    <h3>Account Holder Name</h3>
</div>
<table class="table table-bordered">
    <tbody>
      <tr>
        <td>Primary Account</td>
        <td colspan="2">Doe</td>
        
      </tr>
      <tr>
        <td>Communicatio Address</td>
        <td>Address Details</td>
        <td>Update</td>
      </tr>
      <tr>
        <td>Mobile Number</td>
        <td>+91 9876543210</td>
        <td>Update</td>
      </tr>
      <tr>
        <td>Email ID</td>
        <td>vmiryala@innominds.com</td>
        <td>Update</td>
      </tr>
      <tr>
        <td>PAN Number</td>
        <td colspan="2">CMAJM5867T</td>
      </tr>
      <tr>
        <td>Aadhaar Number</td>
        <td colspan="2">1253 2568 2568 4587</td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td colspan="2">23/08/1993</td>
      </tr>
    </tbody>
  </table>